/* --------------------------------------------------------------- */
/*
/* HTML
/*
/* --------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Playfair Display";
  font-size: 13px;
}

body {
  text-align: center;
}

#main {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  margin: 0 auto;
  color: #171717;
  background-color: #fff;
}

/* --------------------------------------------------------------- */
/*
/* HEADER
/*
/* --------------------------------------------------------------- */

#header {
  background-image: url("img/header.png");
  background-size: cover;
  background-position: center;
}

#header #navbar {
  background-color: #56534c;
  opacity: 0.8;
}

#header #logoB {
  position: absolute;
  top: 93%;
}

#header #radius-bg {
  width: 50%;
  background-color: #825b58;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  opacity: 0.7;
  z-index: ;
  position: absolute;
  left: 25%;
}

#header #radius-bg .text-white .row {
  z-index: 20;
}

#buttonOurMenu {
  background-color: #56534c;
  border-radius: 0;
  border: 2px dotted white;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* --------------------------------------------------------------- */
/*
/* Section_2
/*
/* --------------------------------------------------------------- */

#section2 .text-hr {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  width: 120px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
}

#section2 {
  background: url("img/wallpaper.jpg");
  background-size: cover;
}

#section2 #img-chef {
  border-radius: 100px;
  width: 96px;
}

#section2 .quote-chef {
  color: #aa8669;
}

#section2 .quote-chef::before {
  color: gray;
  font-size: 24px;
  content: "\02bb\02bb";
  display: block;
  text-align: left;
}

#section2 .quote-chef::after {
  content: "\02bc\02bc";
  color: gray;
  font-size: 24px;
  display: block;
  text-align: right;
}

/* --------------------------------------------------------------- */
/*
/* Section_3
/*
/* --------------------------------------------------------------- */

#section3 {
  background-image: url("img/ingredients.png");
  background-size: cover;
  background-position: center;
}

#section_3 .text-color-brown {
  color: #aa8669;
}

#section3-row {
  background-color: white;
}

#section3 #coulis {
  height: 80vh;
  background-image: url("img/coulis.png");
  background-size: cover;
  background-position: center;
}

#section3 #tasty-pancakes {
  height: 80vh;
  background-image: url("img/moulin.png");
  background-size: cover;
  background-position: center;
  padding-top: 15vh;
  padding-left: 10vh;
  padding-right: 10vh;
}

#section3 #season {
  margin-bottom: 10vh;
}

#section3 .block {
  overflow: hidden;
  width: 400px;
  margin: 50px auto;
  margin-top: 120px;
}

#section3 .animation {
  width: auto;
  height: 100px;
  font-size: 0px;
}

#section3 .animation div {
  display: inline-block;
  width: auto;
  float: none;
  padding: 0 10px;
}

#section3 .animation img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 100px;
}

/* --------------------------------------------------------------- */
/*
/* Section_4
/*
/* --------------------------------------------------------------- */

#section4 .stacked {
  background-color: #f3f1e9;
  width: 504px;
  height: 442px;
  border: 2px solid #fff;
  outline: 1px dashed #000;
  outline-offset: -10px;
  position: absolute;
  bottom: -5%;
}

#section4 .stacked_2 {
  background-color: #f3f1e9;
  width: 489px;
  height: 495px;
  border: 2px solid #fff;
  outline: 1px dashed #000;
  outline-offset: -10px;
  position: absolute;
  bottom: -29px;
}

#section4 .stacked_3 {
  background-color: #f3f1e9;
  border: 2px solid #fff;
  outline: 1px dashed #000;
  outline-offset: -10px;
  position: absolute;
  bottom: -32px;
  right: 13px;
  width: 478px;
  height: 559px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#section4 .stacked_3 p:first-child {
  word-spacing: 17ch;
  font-size: 19px;
  text-transform: uppercase;
  color: #56534c;
  margin-top: 3px;
}

#section4 .stacked_3 p{
  -ms-word-break: break-all;
}


#section4 .stacked_3 h1 {
  font-weight: bold;
  font-size: 40px;
  color: #56534c;
}

#section4 .stacked_3 img {
padding: 33px;
padding-bottom: 0px;
margin-top: -54px;
}

#section4 {
  background-image: url("img/oeuf.png");
  background-size: cover;
  background-position: center;
}

/* --------------------------------------------------------------- */
/*
/* SECTION_5
/*
/* --------------------------------------------------------------- */

#section-5 .img-last {
  width: 40%;
  margin: 1px auto;
  display: block;
  opacity: 0.2;
}

.img-taste-so-good {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* #parent {
position: relative;
}
img.superpose {
position: absolute;
top: 25px;
left: 30px;
}
#img_1 {
z-index: 10;
}
#img_2 {
z-index: 11;
}
#img_3 {
z-index: 12;
} */

.photo1 {
  border-radius: 100px;
  width: 100px;
  height: 100px;
}