#header {
  background-image: url("img/header.png");
  background-size: cover;
  background-position: center;
}
#navbar {
  background-color: #56534c;
  opacity: 0.8;
}
#buttonOurMenu {
  background-color: #56534c;
  border-radius: 0;
  border: 2px dotted white;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#logoB {
  position: absolute;
  top: 93%;
}

#radius-bg {
  width: 50%;
  height: 92%;
  background-color: #825b58;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  opacity: .7;
  z-index: ;
  position: absolute;
  left: 25%;
}

.text-white .row {
  z-index: 20;
}

.text-color-brown {
  color: #aa8669;
}

#img-chef {
  border-radius: 100px;
  width: 96px;
}

.text-hr {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  width: 120px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
}

.quote-chef {
  color: #aa8669;
}
.quote-chef::before {
  color: gray;
  font-size: 24px;
  content: "\02bb\02bb";
  display: block;
  text-align: left;
}
.quote-chef::after {
  content: "\02bc\02bc";
  color: gray;
  font-size: 24px;
  display: block;
  text-align: right;
}

.img-taste-so-good {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

#section3 {
  background-image: url("img/ingredients.png");
  background-size: cover;
  background-position: center;
}
#section3-row {
  background-color: white;
}
#coulis {
  height: 80vh;
  background-image: url("img/coulis.png");
  background-size: cover;
  background-position: center;
}
#tasty-pancakes {
  height: 80vh;
  background-image: url("img/moulin.png");
  background-size: cover;
  background-position: center;
  padding-top: 15vh;
  padding-left: 10vh;
  padding-right: 10vh;
}
#season {
  margin-bottom: 10vh;
}

/* slider */

.block {
  overflow: hidden;
  width: 400px;
  margin: 50px auto;
  margin-top: 120px;
  /* background: #fff; */
}
.animation {
  width: auto;
  height: 100px;
  font-size: 0px;
}
.animation div {
  display: inline-block;
  width: auto;
  float: none;
  padding: 0 10px;
}
.animation img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 100px;
}
#section4 {
  background-image: url("img/oeuf.png");
  background-size: cover;
  background-position: center;
}
/* #parent {
position: relative;
}
img.superpose {
position: absolute;
top: 25px;
left: 30px;
}
#img_1 {
z-index: 10;
}
#img_2 {
z-index: 11;
}
#img_3 {
z-index: 12;
} */

.img-last {
  width: 40%;
  margin: 1px auto;
  display: block;
  opacity: 0.2;
}
.photo1 {
  border-radius: 100px;
  width: 100px;
  height: 100px;
}
